<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BACKEND</title>
    
</head>
<body>
    <h1>Welcome to the Backend of my Application</h1>
    <h2>The Current Data Tables Are...</h2>
    <ul>
        <li>Recipes (Combinations of Items and Time)</li>
        <li>Coupons (Time-based Promotions on Individual Items)</li>
        <li>Trips (Items @ Point of Purchase)</li>
    </ul>
    <br>
    <h2>Those to be Created</h2>
    <ul>
        <li>Pantry (Items @ Home)</li>
        <li>Stores</li>
        <li>Subscriptions</li>
    </ul>
    <br>
    <h2>Update Schedule</h2>
    <ul>
        <li>Recipes -> Weekly and Manual</li>
        <li>Coupons -> Weekly</li>
        <li>Trips -> Weekly</li>
        <li>Subscriptions</li>
    </ul>
    <br>
    <h2>Services to Provide via Data Analysis</h2>
    <ul>
        <li>Recipes + Pantry -> Meal Scheduler / Available Recipes</li>
        <li>Coupons + Recipes -> Shopping List to Maximize Savings Across Stores</li>
        <li>Coupons + Trips -> Identify Low Prices Amongst Frequently Bought Items</li>
        <li>Trips + Stores -> Cart Analysis Across Stores</li>
        <li>Coupons + Subscriptions -> Subscription Value Comparisons</li>
    </ul>
    <br>
    <h1>Items</h1>
    <ol>
        <li>Create a Card Viewer of Data on Items</li>
        <li>Show Most Bought Items</li>
        <li>Inflation Meter</li>
        <li>Nutrition Report</li>
        <li>Projected Days Until Next Trip</li>
        <li>Product Graveyard....</li>
        <li>Savings vs. Other Stores</li>
    </ol>
    <h3>
        General
    </h3>
    <ol>
        <li>Build Mongo Aggregations to summarize Any Newly Added Collections</li>
        <li>From these created connections b/w collections will form the basis of the website content and allow for plugging in to different sectors to enhance it all.</li>
    </ol>


</body>
</html>